body {
    background-color: black;
    background-image: url(assets/batman-sequel.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

}

Img { 
    height: 300px;
    border: 5px solid white;
    border-radius: 50px;
}
p{ 
    color: rgb(168, 168, 255)
}
Footer p{
    color: rgb(255, 255, 0);
}
h1 {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 255, 0);
}