body {
    background-color: black;
    background-image: url(assets/batman-sequel.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

}

Img { 
    height: 300px;
    border: 5px solid white;
    border-radius: 50px;
}
p{ 
    color: rgb(189, 189, 190)
}
Footer p{
    color: rgb(255, 255, 0);
}
h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 38px;
    color: rgb(255, 255, 0);
    padding: 20px;

h2 {
    color: rgb(135, 207, 224)
}
    
}
